@import 'tailwindcss';
@import "flowbite/src/themes/default.css";

@plugin "@tailwindcss/typography";
@plugin "flowbite/plugin";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../node_modules/flowbite";

@layer utilities {
    @media (max-width: 250px) {
        .hide-xs {
            display: none !important;
        }
    }
}

@theme {
    --color-primary-50:  #e6f4e7;
    --color-primary-100: #c9e4cb;
    --color-primary-200: #a6d3aa;
    --color-primary-300: #7fc388;
    --color-primary-400: #59b265;
    --color-primary-500: #408D45;
    --color-primary-600: #3A883E;
    --color-primary-700: #27713A;
    --color-primary-800: #034628;
    --color-primary-900: #1D3325;

    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.swiper {
    --swiper-navigation-size: 25px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-color: var(--color-primary-600);

    --swiper-pagination-color: var(--color-primary-600);
    --swiper-pagination-bullet-width: 6px;
    --swiper-pagination-bullet-height: 6px;
}

body {
    padding-top: 60px;
}

#navbar {
    z-index: 1000;
}

#navbar {
    transition: transform 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out,
    backdrop-filter 0.3s ease-in-out;
}

#navbar.navbar-hidden {
    transform: translateY(-100%);
}

#navbar.navbar-visible {
    transform: translateY(0);
}
